@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "elephans";
    src: url("../fonts/Elephans.ttf");
}
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: "elephans";

    }
/*MOVIL FIRST*/
  /*menu desplegable*/
    #menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;
        background: #ffb600;
        justify-content: space-around;
        align-items: center;
    }

    #menuList {
        position: absolute;
        z-index: 10;
        top: 60px;
        left: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transition: all .3s;
        text-align: center;
        background-color: #ffcc00;
    }

    #menu #menuList li {
        display: flex;
        height: 15%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 0.5px black;
    }

    #menu #menuList li a {
        font-size: 1.5em;
        font-weight: 700;
        color:black;
    }
    #menu #menuList li a:hover{
        color:white;

    }

    #check:checked~#menuList {
        left: 0;
    }

    #check:checked~.close {
        display: inline;
    }

    #check:checked~.open {
        display: none;

    }

    .checkbtn {
        font-size: 30px;
        display: block;
        float: left;
        cursor: pointer;
        color: white;
    }
    #check {
        display: none;
    }
    .close{
        display: none;
    }
    .btncambiar{
        display: none;
    }

    .buscador{
        width:50%;
        border-radius: 6%;
    }

    /*Barra buscador*/
    form.buscador input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 5px 0 0 5px;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }


    form.buscador button{
        float: left;
        width: 20%;
        padding: 10px;
        background: black;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
    }

    form.buscador button:hover {
        background:#ffcc00 ;
    }
    form.buscador button:hover > i{
        color:black;
    }
    form.buscador::after {
        content: "";
        clear: both;
        display: table;
    }
    /*main*/
    #titulop{
        display: none;
    }

    #imgPcs {

        width: 35%;

    }
    #color{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    #color #nombreEmpresa{
    font-size: 25px;
    color: #ffb600;

    }
    #opciones{
        display: none;
    }
    #primero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
        max-width: 100%;
        padding-bottom: 3%;
        border-bottom: solid 0.5px grey;
    }
    .button1 {
        background-color: white;
        border: 2px solid black;
        margin-right: 10px;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
    .button1 a{
        color: #ffb600;

    }
    #etiquetas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 5%;
        max-width: 100%;
        padding-bottom: 5%;
        border-bottom: solid 0.5px grey;
    }


    .labels {
        background-color: white;
        color:black;;
        border: 2px solid #ffb600;
        margin:1.5%;
        padding: 7px 15px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
    }
    #preguntas{
    display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows:70% 30%;
    margin: 5%;
    max-width: 100%;
    padding-bottom: 5%;
    border-bottom: solid 0.5px grey;
    }
    .iconos {

        grid-column: 1/2;
        grid-row:2/3;

    }
    .iconos button {
        border: none;
    }
    .like{

    margin-right:8%;
    }
    .info {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;

    }
    .info h4,h5,p{
        grid-row:1/2;
        margin: 2%;
    }
    .fecha{
        grid-row:2/3;
        margin-top: auto;
    }
    .info h5{
        color:#ffb600;
    }
    footer {

        display: flex;
        width: 100%;
        height: 50px;
        background-color: #ffb600;
        justify-content: center;
    }

    footer ul li {
        display: inline-block;
        padding-top: 17px;
    }

    @media (min-width: 768px) {
        /*Diseño Escritorio*/
        main{
            margin: 0 8%;
        }

        /*MENU*/
        #menuList {
            position: relative;
            z-index: 0;
            top: 0px;
            left: 0%;
            display: flex;
            flex-direction: row;
            width: auto;
            height: auto;
            text-align: center;
            background-color: #ffb600;

        }
        #menu #menuList li {
            display: flex;
            height: 15%;
            justify-content: space-between;
            align-items: center;
            border-right: solid 0.5px black;
            border-bottom: 0;
            padding:10px ;
        }
        .buscador{
            width:35%;

        }
        #menu #menuList li.salir{
            display: none;
        }

        .checkbtn{
            display: none;
        }
        /*Primer div*/
        #titulop{
            display: block;
            font-size: 65px;

        }
        .button1 {
            background-color: #ffb600;
            border: 2px solid black;
            margin-left: 2%;
            border-radius: 6%;
            font-size: 32px;
        }
        .button1 a{
            color:black;
            font-weight: bold;
        }

        .btnSignin,.btnSignup{
            border: none;
            padding:5px;
            width: 8vw;
            font-size: 20px;
            background-color: black;
            color: black;
        }
        .btnSignin{
            border-radius: 10px 0 0 10px;
        }
        .btnSignup {
            border-radius: 0 10px 10px 0;
        }
        .active{
            color:  #ffb600;
            /* border-left: 0.5px solid white; */
        }
        .unactive{
            border: 1px solid black;
            /* border-right: 0.5px solid white; */
            background: transparent;
        }

        #primero{
            margin:5%;
            margin-bottom: 8px;

        }
        #imgPcs,#nombreEmpresa {
            display: none;
        }

        #principal{
            display: grid;
            grid-template-columns: 20% 80%;
            margin: auto 5%;
            font-size:24px;
        }
        #etiquetas{
            grid-column:1/2;
            border-bottom: 0;

        }
        #preguntas{
            grid-column: 2/3;
            margin:3%;
        }

        .fecha{
            margin-left: 2%;
        }
        .iconos{
            margin-top: auto;
        }

    }

