*{
    margin: 0;
}
img{
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 40vw;
    border-radius: 50%;
}
#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}