
*{
    margin: 0;
    font-family: 'montserrat';
}

#informacionTotal{
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80vw;
    font-size: 18px;

}
#imgUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
#tamañoFoto{
    width: 100%;
    align-self: flex-start;

}
#imgUser img{
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-right: 2vw;
    width: 100%;
    border-radius: 50%;
}
#imgUser #username{
    text-transform: uppercase;
    font-weight: bold;
    align-self: flex-start;
    width: 100%;
    text-align: center;

}
#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6vh;
}
#infUsu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
#datosUsu{
    display: flex;
    flex-direction: column;
    height: 5vh;
    justify-content: space-between;
}
#datosUsu p{
    margin-bottom: 1vh;
}
#datosUsu #nombreApellido{
    text-transform: capitalize;
    font-weight: 600;
}
#datosUsu #ultConex{
    font-size: 12px;
    font-family: Serif;
}
#preguntasRealizadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
    margin-bottom: 1vw;
}
#bio{
    display: none;
}
#cargaImg{
    width: 100%;
}
#preguntas{
    width: 90vw;
}
.pregunta{
    margin-top: 2vh;
    border-bottom: 1px solid #ffcc00;
    padding-bottom: 2vh;
}
input[type="file"]#imagen {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label[for="imagen"]{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #ffb600;
    color:black;
    border: 1px solid black;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    margin-top:30px ;
}
i#subir{
    background-color: #ffb600;
    color:black;
    border: 1px solid black;
    transition: all .5s;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: center;
}
button[name="submit"]{
    outline: none;
    border: none;
    background: none;
}
input[type="text"], input[type="password"], #email{
    border: none;
    margin-top: 30px;
}
#email{

}
i{
    border-bottom: 1px solid #ffb600;

}
i.fa-question-circle{
    border: none;
}